:root {
    --header-row-height: 25px;
    --my-grey: #626262;
    --my-white: #EDf0f3;
    --my-dk-blue: #37495D;
    --habit-1: #f7c4ca;
    --striped-background-1: repeating-linear-gradient(-45deg, #f7c4ca, #f7c4ca 5px, #EDf0f3 5px, #EDf0f3 10px);
    --habit-2: #d5a6b5;
    --striped-background-2: repeating-linear-gradient(-45deg, #d5a6b5, #d5a6b5 5px, #EDf0f3 5px, #EDf0f3 10px);
    --habit-3: #968da1;
    --striped-background-3: repeating-linear-gradient(-45deg, #968da1, #968da1 5px, #EDf0f3 5px, #EDf0f3 10px);
    --habit-4: #537289;
    --striped-background-4: repeating-linear-gradient(-45deg, #537289, #537289 5px, #EDf0f3 5px, #EDf0f3 10px);
}

h1, span {
    color: var(--my-grey);
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

body {
    background-color: var(--my-dk-blue);
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: auto 425px;
    background-color: var(--my-dk-blue);
}

.grid-side-left {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--my-white);
}

.grid-side-right {
    grid-column: 3;
    grid-row: 1;
    background-color: var(--my-white);
}

.grid-container > div {
    /*background-color: rgba(255, 255, 255, 0.7);*/
    background-color: var(--my-white);
}

.title {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

/*habit label container*/
.labels {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    text-align: right;
    /*height: 400px;*/
    padding-right: 10px;
}

.habit-labels {
    height: 62px;
    line-height: 350%;
}

/* keep habit labels at the right height compared to day labels*/
.spacer-label {
    height: var(--header-row-height);
}

/* container for the habit summary labels that show on click of cell or label */
.habit-summary-container {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    text-alight: left;
    background-color: var(--my-white);
    padding-left: 10px;
}

.habit-summary {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 62px;
    line-height: 300%;
}

.content {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

.padding-bottom {
    padding-bottom: 8px;
}

.header-row, .habit-row, .day-summary-container {
    display: flex;
    flex-direction: row;
}

.header-row > span {
    width: 62px;
    height: var(--header-row-height);
    text-align: center;
}

/* extra layer of border around the outside of grid to make up for side-by-side borders on the inside */
.habit-grid {
    border: 1px solid var(--my-grey);
}

.day-summary-container > span {
    width: 62px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    padding-top: 8px;
}

.complete, .incomplete, .day-off {
    height: 60px;
    width: 60px;
    border: 1px solid var(--my-grey);
    display: flex;
    flex-direction: column-reverse;
    transition: opacity 0.5s;
}

.complete:hover, .day-off:hover {
    opacity: .5;
}

.partial {
    border: none;
    border-top: 2px solid var(--my-grey);
    width: 100%;
}

.complete {
    background: white;
}

.incomplete {
    background: var(--my-white);
}